<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WarehouseDB" connectionString ="Server=warehousingcompany.cpurwsglme4n.us-east-2.rds.amazonaws.com;Database=WarehouseCompany;Uid=student;Pwd=helloworld;SslMode = none;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>